.ucs {
    padding: 20px;
}

.ucs_title_container {
    margin-bottom: 15px;
}

.ucs_title {
    font-size: 20px;
    font-weight: bold;
}

.ucs_days_container {
    width: 100%;
}

.ucs_days_list {
    display: flex;
    flex-direction: column; /* Arrange days vertically */
}
